:root{
    --main-color: #fcb700;
    --dark-color: #222222;
    --parg-color: #666666;
    --dark-red: #d01418;
    --border-color: #6666662a;
    --name-item: #0066c0;
}

.contact-section {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

h1, h3 {
    color: var(--dark-color);
}

p {
    color: var(--parg-color);
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin: 10px 0 5px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.contact-form button {
    margin-top: 15px;
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background-color: #d19900;
}

.contact-info {
    margin-top: 30px;
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 5px;
}
